.text_date {
  font-style: normal;
  font-weight: 400;
  font-size: 21.1824px;
  line-height: 25px;
  color: #70a550;
  margin-bottom: 10px;
}

.text_title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #252725;
  margin-bottom: 20px;
}
.text_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #707670;
  margin-bottom: 47px;
}

.banner_hero_content {
  align-items: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 2;
  top: 0;
}
.banner_hero_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 614px;
  position: absolute;
  z-index: 3;
}
.banner_hero_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 23px;
  color: #fff;
}
.banner_hero_desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 60px;
  color: #fff;
}
.banner_hero_desc > p {
  line-height: 25px;
}
.banner_hero_image {
  width: 100%;
  height: auto;
}
.banner_hero_btn {
  background: #8ac640;
  border-radius: 8px;
  display: block;
  width: 202px;
  height: 56px;
  font-weight: 600;
  font-size: 16.4752px;
  text-align: center;
  color: #fff;
  line-height: 56px;
  text-decoration: none;
}
.banner_hero_btn:hover {
  background-color: #0d6efd;
}
.banner_load {
  background: #8ac640;
  border-radius: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  width: 244px;
  height: 70px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.banner_load:hover {
  background-color: #4f4f4f;
}
.link {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #8ac640;
  text-decoration: none;
}

.link:hover {
  color: #0d6efd;
}
.blog_item_experct {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
  margin-bottom: 25px;
}
.blog_item_link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  cursor: pointer;
}
.blog_item_link:hover {
  color: #0d6efd;
}
.blog_item_date {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #4f4f4f;
  margin-bottom: 10px;
}

.text_desc_blog {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}

.text_titles {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: #252725;
  margin-bottom: 20px;
}
.text_by_desc {
  margin-top: 20px;
  padding: 7px 0;
  font-size: 13px;
  color: #333;
  border-bottom: 1px solid #e7e6e6;
  border-top: 1px solid #e7e6e6;
}

.li {
  padding: 5px 0;
  font-size: 18px;
  font-weight: 700;
  color: #252725;
  line-height: 19px;
}

.ul {
  list-style-type: disc;
  padding-left: 2rem;
}
