.banner_hero_image {
  width: 100%;
  height: auto;
}

.banner_hero_imagess {
  width: 100%;
  height: auto;
  max-width: 1344px;
  margin: 20px;
}

.banner_hero_inners {
  position: absolute;
  width: 100%;
  max-width: 1344px;
  margin: 20px;
}

.container {
  max-width: 1344px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0 0;
  margin-bottom: 41px;
}

.faq_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #4f4f4f;
  margin-bottom: 10px;
}
.faq_desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #828282;
}

.list_question_col_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  padding-bottom: 7px;
  position: relative;
  margin-bottom: 30px;
}
.list_question_col_title:after {
  content: "";
  background: #e3e3e3;
  border-radius: 10px;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.text_collapse {
  font-weight: 400;
  font-size: 18px;
  color: #4f4f4f;
}
.icon {
  width: 30px;
}

@media only screen and (max-width: 600px) {
  .banner_hero_content {
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
    top: 0;
  }
  .banner_hero_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 614px;
    position: absolute;
    z-index: 3;
  }
  .banner_hero_title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #fff;
  }
  .banner_hero_desc {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  .banner_hero_desc > p {
    line-height: 25px;
  }

  .banner_hero_imagess {
    width: 100%;
    height: auto;
    padding: 0 10px;
  }
  .banner_hero_btn {
    background: #8ac640;
    border-radius: 12px;
    padding: 5px;
    border: none;
    margin: 0 auto;
    margin-top: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner_hero_btn:hover {
    background-color: #0d6efd;
  }
  .contact_cta_box {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .contact_cta_slogan {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
  }
  .btn {
    border-radius: 20px;
    background: #fff;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 10px;
    color: #4f4f4f;
  }
  .btn:hover {
    background-color: #0d6efd;
    color: #fff;
  }
}

@media only screen and (min-width: 600px) {
  .banner_hero_content {
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
    top: 0;
    margin: 0 20px;
  }
  .banner_hero_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 614px;
    position: absolute;
    z-index: 3;
  }
  .banner_hero_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 23px;
    color: #fff;
  }
  .banner_hero_desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 60px;
    color: #fff;
  }
  .banner_hero_desc > p {
    line-height: 25px;
  }

  .banner_hero_btn {
    width: 244px;
    height: 70px;
    background-color: #8ac640;
    border-radius: 20px;
    padding: 0;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner_hero_btn:hover {
    background-color: #0d6efd;
  }
  .contact_cta_boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0 60px 0 65px;
  }
  .contact_cta_slogan {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
  }
  .btn {
    width: 250px;
    height: 80px;
    border-radius: 20px;
    background: #fff;
    padding: 0;
    line-height: 80px;
    font-weight: 700;
    font-size: 20px;
    color: #4f4f4f;
    border: none;
    text-align: center;
  }
  .btn:hover {
    background-color: #0d6efd;
    color: #fff;
  }
}
