.h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 0;
}
.container {
  padding: 20px;
}
.text_p {
  font-size: 18px;
}
.text_title_p {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: normal;
}
.text_title {
  color: #333;
  font-weight: bold;
  font-size: 19px;
}

@media only screen and (max-width: 1000px) {
  .h3 {
    font-size: 25px;
  }
  .container {
    padding: 20px;
  }
  .text_p {
    font-size: 15px;
  }
  .text_title {
    color: #333;
    font-weight: bold;
    font-size: 15px;
  }
  .text_title_p {
    color: #4f4f4f;
    font-size: 15px;
    font-weight: normal;
  }
}

@media only screen and (max-width: 720px) {
  .h3 {
    font-size: 24px;
  }
  .container {
    padding: 20px;
  }
  .text_p {
    font-size: 12px;
  }
  .text_title {
    color: #333;
    font-weight: bold;
    font-size: 13px;
  }
  .text_title_p {
    color: #4f4f4f;
    font-size: 13px;
    font-weight: normal;
  }
}
